* {
    box-sizing: border-box;
}

body {
    margin: 0px 5px;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: lightcyan;
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-menu button {
    cursor: pointer;
    height: 10vh;
    width: 10vw;
    background-color: lightcyan;
    border: 0px;
}

.main-menu button:hover {
    border-bottom: 5px solid black;
}

.canvas-container {
    width: 60vw;
    height: 80vh;
}

.meme-editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.image-gallery img {
    height: 200px;
    width: 200px;
    margin: 10px;
}